.third-page {
    height: auto;
    width: 100vw;
    display: none;
    background-image: url(../SVG/background_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.result-container {
    width: 70%;
    margin: 1vh auto;
}

.calculated-result {
    margin: 5vh auto;
}

.result {
    display: flex;
    margin: 10px auto;
}

.result-container>h2 {
    margin-top: -2rem;
}

.result-container> p {
    margin-bottom: 5vh;
}

.title {
    display: flex;
}

.title img {
    width: 10rem;
}

.details {
    background-color: #FFC16B;
    text-align: left;
    padding: 1em 2em;
    display: grid;
    align-content: center;
}

.start-again-btn {
    box-sizing: border-box;
    padding: 0.5em 3em;
    margin: 0vh auto 5vh;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: 0.2em;
    font-weight: 400;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.4s;
}

.start-again-btn:hover {
    color: var(--background-color);
    background-color: #bd4646;
    border: 2px solid transparent;
}

.resources-container {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
}

.resources {
    width: 70%;
    margin: 1em auto;
}

.resources h4 {
    margin-bottom: 0.5em;
}

.resources a {
    margin: 0.5em auto;
    display: block;
    color: var(--link-color);
}

.hidden {
    display: none;
}