:root {
    --heading-color: #4B1C1C;
    --text-color: #53181A;
    --green: #87B157;
    --diya-red: #B14E4A;
    --arrow-color: #D5C3AA;
    --background-color: #FDF5E9;
    --light-green: #C5C885;
    --orange: #FFC16B;
    --matt-red: #C3615D;
    --blood-red: #C04547;
    --light-orange: #C04547;
    --link-color: #929396;
    --sarvodhaya-grey: #526C77;
    --resource-red: #BF4646;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 1vh auto;
    background-color: var(--background-color);
}

.text-color {
    color: var(--text-color);
}

.heading-color {
    color: var(--heading-color);
}

.res-color {
    color: var(--resource-red);
}

header {
    height: 10vh;
}

.logo {
    width: 15vw;
    margin: 2vh auto;
}

section {
    position: absolute;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

.first-page {
    height: 100vh;
    z-index: 10;
    background-image: url(../SVG/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-heading-container {
    width: 60%;
    margin: 0vh auto;
}

.main-heading-container h1 {
    margin-bottom: 2vh;
}

.flex {
    display: flex;
    justify-content: center;
}

.points-container {
    width: 60%;
    margin: 5vh auto 8vh;
}

.points {
    margin: 0vh auto;
    width: 45%;
}

.points figure {
    width: 30%;
    margin: 0 auto;
    display: flex;
}


.points-text {
    background-color: var(--orange);
    height: 28vh;
}

.points h2 {
    background-color: var(--sarvodhaya-grey);
    color: white;
    padding: 0.8em;
    margin: 0;
    width: 100%;
}

.points p {
    color: var(--text-color);
    padding: 0.5em 2em;
}

.start-button {
    width: 5vw;
    margin: 0 auto;
    transition: all 0.2s;
    cursor: pointer;
}

.start-button svg {
    width: 100%;
}

.start-button:hover {
    transform: scale(1.1);
}

.resources {
    text-align: left;
}