.arrow-svg{
    fill:transparent;
    stroke:#D03842;
    stroke-miterlimit:10;
    stroke-width:4px;
}

.page-indicator {
    fill:#d5c3aa;
    transition: all 0.4s;
}

.active {
    fill:#4c1c1c;
}

.logo-circle {
    fill: #576C76;
}

.sun {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1.87;
    stroke-miterlimit: 10;
}